body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

#responseMessage {
    font-weight: bold;
    color: green;
}
